footer {
  display: inline-flex;
  justify-content: center;
  margin: auto;
  width:100%;
  background: rgba(31, 29, 30, 0.8);
  box-shadow: 3px 2px 5px 4px;
  padding: 10px;
  align-items: stretch;
}

footer ul {
  list-style-type:none;
  width:500px;
}

footer ul li {
  color: #fff;
  cursor: pointer;
}

footer ul h5 {
  color: #fff;
}

footer ul li:hover {
  text-decoration: underline;
}

